body {
  font-family: 'Libre Baskerville', serif;
  background-image: url("../images/crisp_paper_ruffles_@2x.png");
  background-color: gray;
}
col-md-8 {
  height: 800x;
  width: 200x;
  color: turquoise;
}

/*.pulse {
  visibility: hidden;
}*/

button img {
  height: 80px;
}